*{
box-sizing: border-box;

}
button{
    width: 100px;
    height: 100px;
    font-size: 20px;
}
#you{
    display: flex;
    align-items: center;
    flex-direction: column;
background-color: gray;
width: 400px;
height: 600px;
}
#yourImage{
    margin: 20px;
    width: 300px;
    height: 400px;
}
#dugmadi{
display: flex;
justify-content: center;

}
